/* Navbar background color */
.bg-secondary {
    background-color: #2c3e50 !important;
}

/* Footer copyright background */
.copyright {
    background-color: #1a252f;
}

/* Header background color */
.bg-primary {
    background-color: #1abc9c !important;
}

/* Navbar font weight */
nav {
    font-weight: 700;
}

/* Card image styling */
.img-card {
    height: 18vw;
    object-fit: cover;
}